table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
}

input[type=number] {
    width: 10mm;
}

input[type=text] {
    width: 20mm
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

body {
    background-color: white;
}