body {
    font-family: arial, sans-serif;
    background-color: blanchedalmond;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: .5em;
    margin: .25em;
    background-color: coral;
}

a {
    text-decoration: none;
    color: black;
    padding: .5em;
    margin: .25em;
    /* background-color: coral; */
}

input[type=number] {
    width: 10mm;
}

input[type=text] {
    width: 20mm
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* #encounter-section {
    display: grid;
} */

/* #encounter-section>table {
    grid-template-columns: repeat(2);
} */


#left-table {
    float: left;
}

#right-table {
    float: right;
}