{% extends "base.html"%}

{% block content %}
<section>
    <h1>Encounter</h1>
</section>
<section>
    <table>
        <tr>
            <th>Name</th>
            <th colspan="5">Stats</th>
            <th colspan="2">Actions</th>
        </tr>
        {% for character in characters%}
        <form method="post">
            <tr>
                <td rowspan="2">{{character.name}}</td>
                <td>HP: {{character.HP}}/{{character.max_HP}}</td>
                <td><b>STR: {{character.ability_modifier(character.strength)}}</b>({{character.strength}})</td>
                <td><b>CON:
                        {{character.ability_modifier(character.constitution)}}</b>({{character.constitution}})
                </td>
                <td><b>WIS: {{character.ability_modifier(character.wisdom)}}</b>({{character.wisdom}})</td>
                <td>{{character.race}}</td>
                <td>
                    <select name="d_number" id="d_number">
                        <option value="None">Number of rolls:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                </td>
                <td>
                    <select name="victim" id="victim">
                        {% for character in characters %}
                        <option value="{{character.id}}">{{character.name}}</option>
                        {%endfor%}
                    </select>
                </td>

            </tr>
            <tr>
                <td>AC: {{character.AC}}</td>
                <td><b>DEX: {{character.ability_modifier(character.dexterity)}}</b>({{character.dexterity}})
                </td>
                <td><b>INT:
                        {{character.ability_modifier(character.intelligence)}}</b>({{character.intelligence}})
                </td>
                <td><b>CHA: {{character.ability_modifier(character.charisma)}}</b>({{character.charisma}})</td>
                <td>{{character.character_class}}</td>
                <td>
                    <select name="d_size" id="d_size">
                        <option value="None">Dice Size:</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="20">20</option>
                    </select>
                </td>
                <td>
                    <input type="number" name="manual_entry" value="0">
                    <input type="submit" value="Attack" formaction="encounter/attack/{{character.id}}">
                    <input type="submit" value="Heal" formaction="encounter/heal/{{character.id}}">
                </td>
            </tr>
        </form>
        {%endfor%}
    </table>
    <table>
        <tr>
            <th>
                Turn Number
            </th>
            <th>
                Description
            </th>
        </tr>
        {%for turn in turns%}
        <tr>
            <td>{{turn.id}}</td>
            <td>{{turn.description}}</td>
        </tr>
        {%endfor%}
    </table>
</section>
{% endblock %}